<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="TaskQueueSoap" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:53361/TaskQueue.asmx" binding="basicHttpBinding"
                bindingConfiguration="TaskQueueSoap" contract="TaskManager.TaskQueueSoap"
                name="TaskQueueSoap" />
        </client>
    </system.serviceModel>
</configuration>